////////////////////
/// CONTACT PAGE ///
////////////////////
.contact-page{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba($color-black, 0.9), rgba($color-black, 0.7)), url(background-2.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns:  minmax(min-content, 24rem) repeat(7, minmax(min-content, 15rem));
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;

    // HEADING
    &__heading{
        color: $color-white;
        font-size: 4rem;
        font-weight: 100; 
        letter-spacing: .2rem;
        text-transform: uppercase;
        position: relative;
        border-bottom: 1px solid $color-grey;
        padding-bottom: 3rem;
        grid-column: 3/7;
        grid-row: 1/2;
        align-self: end;
        justify-self: center;
    
        // MEDIA QUERIES FOR HEADING
        @media only screen and (min-width: $bp-md-sm){
            &:hover {
                font-size: 4.5rem;
                border: none;
                transform: translateY(-1rem);
                transition: all .3s;
            }
        }

        @media only screen and (max-width: $bp-laptop-small){
            font-size: 3rem;
            padding-bottom: 2.5rem;
            align-self: flex-end;
        }

        @media only screen and (max-width: $bp-md-sm){
            font-size: 2.5rem;
            padding-bottom: 1rem;
        }

        @media only screen and (max-width: $bp-xsm){ font-size: 2rem; }
    }

    // ALIGNING THE SIDEBAR SPECIALLY FOR THE CURRENT PAGE AND MEDIA QUERIES FOR IT
    .sidebar{
        @media only screen and (max-width: $bp-xxl){
            .active{
                padding: 4.5rem 1.5rem 1.6rem 1.5rem;

                @media only screen and (max-width: $bp-md-sm){
                    padding: 3rem 1.5rem 1.6rem 1.5rem;
                    font-size: 1.6rem;
                }

                @media only screen and (max-width: $bp-xsm){
                    padding: 1.5rem 1rem 1.5rem 1rem;
                    font-size: 1.1rem;
                }

                @media only screen and (max-width: $bp-xsm){ font-size: .7rem; }
            }
        }
    }
}

// STYLING ALL THE DETAILS FOR THE CONTACT PAGE BOX AND MEDIA QUERIES FOR THEM
.my-details{
    background-color: transparent;
    border: 1px solid $color-white;
    padding: 5rem 1rem 3rem 1rem;
    grid-column: 3/7;
    grid-row: 2/5;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;

    @media only screen and (max-width: $bp-xsm){ padding: 3rem 1rem 1.5rem 1rem; }

    @media only screen and (max-width: $bp-md-sm){ grid-template-rows: repeat(3, min-content); }

    &__image{
        width: 14rem;
        height: 14rem;
        object-fit: cover;
        object-position: top;
        border-radius: .5rem;
        margin-right: 7rem;
        grid-row: 1/2;
        grid-column: 1/2;
        align-self: flex-start;
        justify-self: center;

        @media only screen and (max-width: $bp-xsm){
            width: 10rem;
            height: 10rem;
        }
    }

    &__col{
        align-self: center; 
        & > * { margin-top: 1rem; }
    }

    &__name{
        color: $color-white;
        font-size: 2rem;
        white-space: initial;
        grid-row: 1/2;
        grid-column: 2/3;

        @media only screen and (max-width: $bp-xsm){ font-size: 1.4rem; }

        @media only screen and (min-width: $bp-md-sm){
            &:hover i{ color: $color-grey; }
        }
    }

    &__location{
        color: $color-white;
        font-size: 1.6rem;
        white-space: initial;
        grid-row: 1/2;
        grid-column: 2/3;

        i{ margin-right: 1.8rem; }

        @media only screen and (max-width: $bp-xsm){ font-size: 1.2rem; }

        @media only screen and (min-width: $bp-md-sm){
            &:hover i{ color: $color-grey; }
        }
    }

    &__university{
        color: $color-white;
        font-size: 1.6rem;
        white-space: initial;
        grid-row: 1/2;
        grid-column: 2/3;

        i{ margin-right: 1rem; }

        @media only screen and (max-width: $bp-xsm){ font-size: 1.2rem; }

        @media only screen and (min-width: $bp-md-sm){
            &:hover i{ color: $color-grey; }
        }
    }

    .about{
        color: $color-white;
        font-size: 1.6rem;
        line-height: 3rem;
        white-space: initial;
        padding: 3rem;
        grid-row: 2/3;
        grid-column: 1/3;
        align-self: center;
        justify-self: center;

        i{ margin-right: 1rem; }

        @media only screen and (max-width: $bp-xsm){
            font-size: 1.2rem;
            line-height: 2rem;
        }

        @media only screen and (min-width: $bp-md-sm){
            &:hover i{ color: $color-grey; }
        }
    }

    .contact-details{
        color: $color-white;
        font-size: 1.6rem;
        list-style: none;
        white-space: initial;
        grid-row: 3/4;
        grid-column: 1/4;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;

        i{ margin-right: 1rem; }

        @media only screen and (max-width: $bp-xsm){ font-size: 1.2rem; }

        // SHAKE ANIMATION FOR CONTACT DETAILS
        @media only screen and (min-width: $bp-md-sm){
            & > *:hover{ 
                animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both; 
                i{ color: $color-grey; }
            }
        }   
    }
}